<!-- Header -->
<div class="container mb-3 px-5">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand float-left">SocialNetwork</a>
      <div class="d-flex justify-content-end align-items-center">
        <form class="d-flex" role="search">
          <div class="input-group m-2">
            <input type="text" class="form-control" placeholder="Find" />
            <span class="input-group-text" id="basic-addon2"
              ><fa-icon [icon]="faSearch"></fa-icon>
            </span>
          </div>
        </form>

        <button type="button" class="btn btn-primary btn-md m-2">
          <fa-icon [icon]="faUpload"></fa-icon> &nbsp;Upload
        </button>
        <button type="button" class="btn btn-primary btn-md m-2">
          <fa-icon [icon]="faUser"></fa-icon> &nbsp;User Pengguna
        </button>
      </div>
    </div>
  </nav>
</div>