<div class="container px-5">
  <hr class="border border-black border-2 opacity-50" />
  <nav class="navbar justify-content-right">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Videos</li>
        <li class="breadcrumb-item active" aria-current="page">People</li>
        <li class="breadcrumb-item active" aria-current="page">Document</li>
        <li class="breadcrumb-item active" aria-current="page">Event</li>
        <li class="breadcrumb-item active" aria-current="page">
          Communities
        </li>
        <li class="breadcrumb-item active" aria-current="page">Favorite</li>
        <li class="breadcrumb-item active" aria-current="page">Channels</li>
      </ol>
    </nav>
  </nav>
  <hr class="border border-black border-2 opacity-50" />
</div>
